<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{header}}</h1>
    <ul>
        <li>
            Задонский пр., д.14, к.2
            <button>Характеристики</button>
        </li>
        <li>Задонский пр., д.16, к.1
            <button>Характеристики</button>
        </li>
        <li>Задонский пр., д.16, к.2
            <button>Характеристики</button>
        </li>
    </ul>
    <a href="/main">
        <button>Вернуться на главную страницу</button>
    </a>

</body>
